* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2dd264;

}

header {
  background-color: #f54040;
  padding: 10px;
  text-align: center; 
}

/* Style the topnav */
ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Style links in topnav */
ul.topnav li a {
  display: block;
  color: #151bda;
  padding: 14px 16px;
  text-decoration: underline; 
}

/* Change color on hover */
ul.topnav li a:hover {
  background-color: #dddddd;
  color: black;
}

h2{
  text-align: left;
}

h3{
    color:white; 
} 

.hero {
  display: flex;
  place-items: up;  
  text-align: center;
}

div.flex-container {
  display: flex;
  flex-direction: row;
}

div.flex-container > div {
  margin: 10px;
   background-color: #2dd264;
  
}

/* Style the footer */
  footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f54040;
  padding: 8px;
  text-align: center;
  z-index: 1000;
}

/* Use media query and show the 3 columns vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
  div.flex-container {
   flex-direction: column;
  }
} 

.sub-paragraph{
  text-indent: 50px; 
  text-align: justify; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  width:450px; 
}

.sub-container{
  display: flex; 
  text-align: center; 
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

.caption {
    font-size: 12px;
    color: black;
    font-style: italic;
}